.header {
    border-bottom: 1px solid #E0DFDF;
  }
  
.header__inner {
    display: flex;
    align-items: center;
    min-width: 228px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  
.header__logo {
    /* min-width: 100%; */
    position: relative;
    left: 6%;
    width: 100%;
    color: #8B7969;
    text-decoration: none;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 30px;
  }

.form__error {
    font-size: 14px;
  }

.header__button {
  width: 15%;
  max-width: 100px;
  margin-right: 5%;
  background-color: #F0F0F099;
  border: 1px solid #D9C6B5;
}

.header__button--change {
  color: #8B7969;
  text-decoration: none;
  border: none;
  background-color: none;
}