.header {
    border-bottom: 1px solid #E0DFDF;
  }
  
.header__inner {
    display: flex;
    align-items: center;
    min-width: 228px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  
.header__logo {
    min-width: 100%;
    width: 100%;
    color: #8B7969;
    text-decoration: none;
    font-family: "Inika", serif;
    font-style: normal;
    font-size: 30px;
  }
  
/* ------------------------------------- */

.contact-form__content {
    margin: 0 auto;
    max-width: 1230px;
    font-family: "Inika", serif;
    font-style: normal;
    color: #8B7969;
  }
  
.contact-form__heading {
    min-width: 100px;
    margin-bottom: 40px;
    text-align: center;
  }
  
.contact-form__heading-h2 {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

/* ------------------------------------ */

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  
.form__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

.form__group-title {
    min-width: 100px;
    width: 50%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }

.form__label--item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
  }

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    color: red;
  }
  
.form__group-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    min-width: 225px;
  }

.form__last-name,
  .form__first-name {
    width: 50%;
  }

.form__last-name {
    margin-right: 5%;
  }

#gender__content {
    display: flex;
    justify-content: start;
    font-size: 14px;
  }

.form__gender3 {
    width: 25%;
    min-width: 70px;
  }

.form__tel-1,
.form__tel-2,
.form__tel-3 {
    width: 30%;
  }

.form__section {
    margin: 5px 3%;
  }

.form__name,
.form__mail,
.form__tel,
.form__gender,
.form__address,
.form__building,
.form__detail {
    width: 100%;
  }

.form__gender {
    display: flex;
    justify-content: start;
  }

.form__name--input,
.form__mail--input,
.form__tel--input,
.form__address--input,
.form__building--input,
.form__category--select,
.form__detail--input {
    width: 100%;
    min-width: 100px;
    padding: 10px 0;
    padding-left: 20px;
    background-color: #F4F4F4;
    color: #8B7969;
    border: none;
  }

.form__name--input{
    min-width: 80px;
  }

.form__gender--input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #8B7969;
    border-radius: 50%; 
    position: relative;
    cursor: pointer;
    top: 2px;
    transform: scale(1.4);
    margin-right: 8px;
  }

.form__gender--input:checked {
    background-color: #8B7969;
    border: 1px solid #8B7969;
}

.form__tel--input{
    text-align: center;
    min-width: 30px;
    padding: 10px 0;
  }

.form__category--select {
    color: #beb1a6;
  }

.form__detail--input {
    height: 120px;
  }

textarea::-webkit-resizer {
    display: none;
  }

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
  }

  /* -------------------------------------- */
  
.form__button {
    margin-top: 30px;
  }
  
.form__button-submit {
    padding: 10px;
    width: 30%;
    max-width: 140px;
    min-width: 80px;
    height: 40px;
    font-size: 15px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
  }
  